<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Thank you for your order, <%= order.fname %></h1>
    
    <p> <strong> First Name: </strong><%= order.fname %></p>
    <p> <strong> Last Name: </strong><%= order.lname %></p>
    <p> <strong> Email: </strong><%= order.email %></p>
    <p> <strong> Method: </strong><%= order.method %></p>
    <p> <strong> Toppings: </strong><%= order.toppings %></p>
    <p> <strong> Size: </strong><%= order.size %></p>


    <% if (Array.isArray(order.toppings)) { %>
        <p> Toppings: <%= order.toppings.join(',') %> </p>
    <% } else { %>
        <p> Toppings: <%= order.toppings %> </p>
    <% } %>

    <p> Toppings: <%= Array.isArray(order.toppings) ? order.toppings.join(', ') : order.toppings %> </p>



</body>
</html>